html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.white-bubble .triangle, .black-bubble .triangle {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: 100;
  border-style: solid;
  transform-origin: 50% 50%;
  font-size: 0;
  line-height: 0; }

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.2em;
  color: #000;
  background: #fff; }

.wrapper {
  position: relative;
  width: auto;
  height: auto;
  height: 100vh;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-radial-gradient(57% 57%, circle closest-side, #ff8706 0, #ff8706 11%, #ff8706 40%, transparent 40%, transparent 100%), -webkit-radial-gradient(57% 57%, circle closest-side, #ff8706 0, #ff8706 30%, #ff8706 40%, transparent 40%, transparent 100%), -webkit-radial-gradient(closest-side, #ffc319 0, #f7c012 100%);
  background: -moz-radial-gradient(57% 57%, circle closest-side, #ff8706 0, #ff8706 11%, #ff8706 40%, transparent 40%, transparent 100%), -moz-radial-gradient(57% 57%, circle closest-side, #ff8706 0, #ff8706 30%, #ff8706 40%, transparent 40%, transparent 100%), -moz-radial-gradient(closest-side, #ffc319 0, #f7c012 100%);
  background: radial-gradient(circle closest-side at 57% 57%, #ff8706 0, #ff8706 11%, #ff8706 40%, transparent 40%, transparent 100%), radial-gradient(circle closest-side at 57% 57%, #ff8706 0, #ff8706 30%, #ff8706 40%, transparent 40%, transparent 100%), radial-gradient(closest-side, #ffc319 0, #f7c012 100%);
  background-position: 0 0, 10px 10px, 100% 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20px 20px, 20px 20px, auto auto;
  background-size: 20px 20px, 20px 20px, auto auto;
  overflow-y: hidden; }

.bubble-wrap {
  position: relative;
  width: 30%;
  width: 60vw;
  min-width: 250px;
  max-width: 450px;
  height: 35%;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  padding: 8em;
  margin-top: 10vh;
  text-align: center; }

.text {
  position: relative;
  z-index: 20;
  line-height: 1;
  height: inherit; }
  .text .textLine {
    position: absolute;
    display: block;
    width: 320px;
    bottom: 10%;
    color: #ff1b27;
    font-family: sans-serif;
    font-weight: bold;
    left: 50%;
    line-height: 1.34;
    font-size: 3em;
    margin-left: -160px; }
    @media screen and (min-width: 480px) {
      .text .textLine {
        width: 180px;
        margin-left: -90px;
        font-size: 100%; } }
  .text p {
    position: absolute;
    display: block;
    left: 45%;
    top: 10%;
    font-family: 'Bangers', cursive;
    font-size: 3em;
    font-size: 19vw;
    letter-spacing: -5px; }
    @media screen and (min-width: 480px) {
      .text p {
        font-size: 6em; } }
    .text p span {
      position: absolute;
      height: 400px;
      transform-origin: bottom center;
      text-shadow: 0 0 1px #252122;
      width: 40px;
      left: 0;
      top: 0; }
      @media screen and (min-width: 480px) {
        .text p span {
          height: 580px; } }
    .text p .char1 {
      transform: rotate(-16deg); }
    .text p .char2 {
      transform: rotate(-12deg); }
    .text p .char3 {
      transform: rotate(-8deg); }
    .text p .char4 {
      transform: rotate(-4deg); }
    .text p .char5 {
      transform: rotate(0deg); }
    .text p .char6 {
      transform: rotate(4deg); }
    .text p .char7 {
      transform: rotate(8deg); }
    .text p .char8 {
      transform: rotate(12deg); }
    .text p .char9 {
      transform: rotate(16deg); }
    .text p .char10 {
      transform: rotate(20deg); }
  .text .boom-shadow {
    color: #252122;
    transform: scale(1.04) scaleX(1.02) translateY(0.05em); }
    .text .boom-shadow .char2::after, .text .boom-shadow .char5::after, .text .boom-shadow .char6::after, .text .boom-shadow .char7::after {
      position: absolute;
      display: block;
      content: '';
      width: 20px;
      height: 30px;
      border-radius: 50%;
      background: #00bcf3;
      z-index: -1; }
    .text .boom-shadow .char2::after {
      left: 53%;
      top: 5%; }
    .text .boom-shadow .char5::after {
      left: 53%;
      top: 2%; }
    .text .boom-shadow .char6::after {
      left: 53%;
      top: 2%; }
    .text .boom-shadow .char7::after {
      left: 15%;
      top: 4%;
      width: 40px;
      height: 40px; }
  .text .boom {
    color: #ffc412; }
    .text .boom .char9 {
      color: #ff1b27; }

.white-bubble {
  z-index: 10; }
  .white-bubble .triangle {
    border-color: transparent transparent #fff transparent; }

.white-bubble, .black-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 150px;
  max-width: 400px;
  width: 50vw;
  height: 80%;
  max-height: 250px;
  height: 33vh;
  background: #fff;
  border-radius: 50%; }
  .white-bubble .triangle-wrapper, .black-bubble .triangle-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    .white-bubble .triangle-wrapper .triangle.one, .black-bubble .triangle-wrapper .triangle.one {
      left: 24%;
      bottom: 27%;
      border-top-width: 0;
      border-right-width: 30px;
      border-bottom-width: 200px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 9vh;
      border-bottom-width: 31vh;
      border-left-width: 7vh;
      transform: rotate(-5deg); }
    .white-bubble .triangle-wrapper .triangle.two, .black-bubble .triangle-wrapper .triangle.two {
      left: 17%;
      bottom: 70%;
      border-top-width: 0;
      border-right-width: 40px;
      border-bottom-width: 180px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 5vh;
      border-bottom-width: 28vh;
      border-left-width: 5vh;
      transform: rotate(-10deg); }
    .white-bubble .triangle-wrapper .triangle.three, .black-bubble .triangle-wrapper .triangle.three {
      left: 4%;
      bottom: 55%;
      border-top-width: 0;
      border-right-width: 40px;
      border-bottom-width: 180px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 22vh;
      border-left-width: 8vh;
      transform: rotate(-26deg); }
    .white-bubble .triangle-wrapper .triangle.four, .black-bubble .triangle-wrapper .triangle.four {
      left: -10%;
      top: -25%;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 33vh;
      border-left-width: 8vh;
      transform: rotate(-55deg); }
    .white-bubble .triangle-wrapper .triangle.five, .black-bubble .triangle-wrapper .triangle.five {
      left: 0;
      top: -5%;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 33vh;
      border-left-width: 8vh;
      transform: rotate(-80deg); }
    .white-bubble .triangle-wrapper .triangle.six, .black-bubble .triangle-wrapper .triangle.six {
      left: -7%;
      top: 0;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 33vh;
      border-left-width: 8vh;
      transform: rotate(-100deg); }
    .white-bubble .triangle-wrapper .triangle.seven, .black-bubble .triangle-wrapper .triangle.seven {
      left: -10%;
      top: 50%;
      border-top-width: 0;
      border-right-width: 9vh;
      border-bottom-width: 20vh;
      border-left-width: 5vh;
      transform: rotate(-135deg); }
    .white-bubble .triangle-wrapper .triangle.eight, .black-bubble .triangle-wrapper .triangle.eight {
      left: 4%;
      top: 60%;
      border-top-width: 0;
      border-right-width: 5vh;
      border-bottom-width: 20vh;
      border-left-width: 5vh;
      transform: rotate(-165deg); }
    .white-bubble .triangle-wrapper .triangle.nine, .black-bubble .triangle-wrapper .triangle.nine {
      left: 10%;
      top: 50%;
      border-top-width: 0;
      border-right-width: 6vh;
      border-bottom-width: 20vh;
      border-left-width: 6vh;
      transform: rotate(-165deg); }
    .white-bubble .triangle-wrapper .triangle.ten, .black-bubble .triangle-wrapper .triangle.ten {
      left: 15%;
      top: 80%;
      border-top-width: 0;
      border-right-width: 6vh;
      border-bottom-width: 23vh;
      border-left-width: 6vh;
      transform: rotate(-165deg); }
    .white-bubble .triangle-wrapper .triangle.eleven, .black-bubble .triangle-wrapper .triangle.eleven {
      left: 29%;
      top: 58%;
      border-top-width: 0;
      border-right-width: 6vh;
      border-bottom-width: 25vh;
      border-left-width: 5vh;
      transform: rotate(197deg); }
    .white-bubble .triangle-wrapper .triangle.twelve, .black-bubble .triangle-wrapper .triangle.twelve {
      left: 35%;
      top: 60%;
      border-top-width: 0;
      border-right-width: 7vh;
      border-bottom-width: 19vh;
      border-left-width: 7vh;
      transform: rotate(184deg); }
    .white-bubble .triangle-wrapper .triangle.thirteen, .black-bubble .triangle-wrapper .triangle.thirteen {
      right: 30%;
      bottom: 63%;
      border-top-width: 0;
      border-right-width: 30px;
      border-bottom-width: 200px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 9vh;
      border-bottom-width: 31vh;
      border-left-width: 5vh;
      transform: rotate(29deg); }
    .white-bubble .triangle-wrapper .triangle.thirteen-2, .black-bubble .triangle-wrapper .triangle.thirteen-2 {
      right: 16%;
      bottom: 33%;
      border-top-width: 0;
      border-right-width: 30px;
      border-bottom-width: 200px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 11vh;
      border-bottom-width: 32vh;
      border-left-width: 16vh;
      transform: rotate(12deg); }
    .white-bubble .triangle-wrapper .triangle.thirteen-3, .black-bubble .triangle-wrapper .triangle.thirteen-3 {
      right: 33%;
      bottom: 40%;
      border-top-width: 0;
      border-right-width: 30px;
      border-bottom-width: 200px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 14vh;
      border-bottom-width: 31vh;
      border-left-width: 11vh;
      transform: rotate(3deg); }
    .white-bubble .triangle-wrapper .triangle.fourteen, .black-bubble .triangle-wrapper .triangle.fourteen {
      right: 17%;
      bottom: 70%;
      border-top-width: 0;
      border-right-width: 40px;
      border-bottom-width: 180px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 3vh;
      border-bottom-width: 25vh;
      border-left-width: 6vh;
      transform: rotate(33deg); }
    .white-bubble .triangle-wrapper .triangle.fifteen, .black-bubble .triangle-wrapper .triangle.fifteen {
      right: 4%;
      bottom: 55%;
      border-top-width: 0;
      border-right-width: 40px;
      border-bottom-width: 180px;
      border-left-width: 50px;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 22vh;
      border-left-width: 8vh;
      transform: rotate(44deg); }
    .white-bubble .triangle-wrapper .triangle.sixteen, .black-bubble .triangle-wrapper .triangle.sixteen {
      right: -10%;
      top: -25%;
      border-top-width: 0;
      border-right-width: 17vh;
      border-bottom-width: 38vh;
      border-left-width: 10vh;
      transform: rotate(64deg); }
    .white-bubble .triangle-wrapper .triangle.seventeen, .black-bubble .triangle-wrapper .triangle.seventeen {
      right: -4%;
      top: -6%;
      border-top-width: 0;
      border-right-width: 10vh;
      border-bottom-width: 25vh;
      border-left-width: 12vh;
      transform: rotate(78deg); }
    .white-bubble .triangle-wrapper .triangle.seventeen-2, .black-bubble .triangle-wrapper .triangle.seventeen-2 {
      right: -4%;
      top: -7%;
      border-top-width: 0;
      border-right-width: 4vh;
      border-bottom-width: 41vh;
      border-left-width: 9vh;
      transform: rotate(92deg); }
    .white-bubble .triangle-wrapper .triangle.seventeen-3, .black-bubble .triangle-wrapper .triangle.seventeen-3 {
      right: -4%;
      top: -9%;
      border-top-width: 0;
      border-right-width: 9vh;
      border-bottom-width: 37vh;
      border-left-width: 10vh;
      transform: rotate(81deg); }
    .white-bubble .triangle-wrapper .triangle.eighteen, .black-bubble .triangle-wrapper .triangle.eighteen {
      right: -7%;
      top: 0;
      border-top-width: 0;
      border-right-width: 8vh;
      border-bottom-width: 33vh;
      border-left-width: 8vh;
      transform: rotate(100deg); }
    .white-bubble .triangle-wrapper .triangle.nineteen, .black-bubble .triangle-wrapper .triangle.nineteen {
      right: -10%;
      top: 50%;
      border-top-width: 0;
      border-right-width: 9vh;
      border-bottom-width: 20vh;
      border-left-width: 5vh;
      transform: rotate(122deg); }
    .white-bubble .triangle-wrapper .triangle.twenty, .black-bubble .triangle-wrapper .triangle.twenty {
      right: 4%;
      top: 60%;
      border-top-width: 0;
      border-right-width: 5vh;
      border-bottom-width: 20vh;
      border-left-width: 5vh;
      transform: rotate(131deg); }
    .white-bubble .triangle-wrapper .triangle.twentyone, .black-bubble .triangle-wrapper .triangle.twentyone {
      right: 16%;
      top: 50%;
      border-top-width: 0;
      border-right-width: 6vh;
      border-bottom-width: 20vh;
      border-left-width: 6vh;
      transform: rotate(143deg); }
    .white-bubble .triangle-wrapper .triangle.twentytwo, .black-bubble .triangle-wrapper .triangle.twentytwo {
      right: 15%;
      top: 80%;
      border-top-width: 0;
      border-right-width: 10vh;
      border-bottom-width: 22vh;
      border-left-width: 4vh;
      transform: rotate(158deg); }
    .white-bubble .triangle-wrapper .triangle.twentythree, .black-bubble .triangle-wrapper .triangle.twentythree {
      right: 28%;
      top: 58%;
      border-top-width: 0;
      border-right-width: 6vh;
      border-bottom-width: 23vh;
      border-left-width: 6vh;
      transform: rotate(-203deg); }
    .white-bubble .triangle-wrapper .triangle.twentyfour, .black-bubble .triangle-wrapper .triangle.twentyfour {
      right: 35%;
      top: 78%;
      border-top-width: 0;
      border-right-width: 7vh;
      border-bottom-width: 21vh;
      border-left-width: 7vh;
      transform: rotate(-180deg); }

.black-bubble {
  background: #252122;
  transform: scale(1.05) scaleX(1.09) translateY(0.7em);
  z-index: 1; }
  .black-bubble .triangle {
    border-color: transparent transparent #252122 transparent; }
