.white-bubble {
 z-index: 10;

    .triangle {
      @extend %triangle-basics;
      border-color: transparent transparent #fff transparent;
    }
}

.white-bubble, .black-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 150px;
  max-width: 400px;
  width: $white-bubble-width;
  height: 80%;
  max-height: 250px;
  height: $white-bubble-height;
  background: #fff;
  border-radius: 50%;

.triangle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

    //Sharp spikes-triangles for a bubble-wrap
    .triangle.one {
        left: 24%;
        bottom: 27%;
        @include border-width(0, 30px, 200px, 50px);
        @include border-width(0, 9vh, 31vh, 7vh);
        transform: rotate(-5deg);
        }

    .triangle.two {
        left: 17%;
        bottom: 70%;
        @include border-width(0, 40px, 180px, 50px);
        @include border-width(0, 5vh, 28vh, 5vh);
        transform: rotate(-10deg);
        }

    .triangle.three {
       left: 4%;
       bottom: 55%;
       @include border-width(0, 40px, 180px, 50px);
       @include border-width(0, 8vh, 22vh, 8vh);
       transform: rotate(-26deg);
    }

    .triangle.four {
       left: -10%;
       top: -25%;
       @include border-width(0, 8vh, 33vh, 8vh);
       transform: rotate(-55deg);
    }

    .triangle.five {
       left: 0;
       top: -5%;
       @include border-width(0, 8vh, 33vh, 8vh);
       transform: rotate(-80deg);
    }

    .triangle.six {
       left: -7%;
       top: 0;
       @include border-width(0, 8vh, 33vh, 8vh);
       transform: rotate(-100deg);
    }

    .triangle.seven {
       left: -10%;
       top: 50%;
       @include border-width(0, 9vh, 20vh, 5vh);
       transform: rotate(-135deg);
    }

    .triangle.eight {
       left: 4%;
       top: 60%;
       @include border-width(0, 5vh, 20vh, 5vh);
       transform: rotate(-165deg);
    }

    .triangle.nine {
       left: 10%;
       top: 50%;
       @include border-width(0, 6vh, 20vh, 6vh);
       transform: rotate(-165deg);
    }

    .triangle.ten {
       left: 15%;
       top: 80%;
       @include border-width(0, 6vh, 23vh, 6vh);
       transform: rotate(-165deg);
    }

    .triangle.eleven {
       left: 29%;
       top: 58%;
       @include border-width(0, 6vh, 25vh, 5vh);
       transform: rotate(197deg);
    }

    .triangle.twelve {
       left: 35%;
       top: 60%;
       @include border-width(0, 7vh, 19vh, 7vh);
       transform: rotate(184deg);
    }

    //copying first 12 triangles and changing left to right and negative degree values to opposite
    .triangle.thirteen {
        right: 30%;
        bottom: 63%;
        @include border-width(0, 30px, 200px, 50px);
        @include border-width(0, 9vh, 31vh, 5vh);
        transform: rotate(29deg);
        }

    .triangle.thirteen-2 {
        right: 16%;
        bottom: 33%;
        @include border-width(0, 30px, 200px, 50px);
        @include border-width(0, 11vh, 32vh, 16vh);
        transform: rotate(12deg);
        }

    .triangle.thirteen-3 {
        right: 33%;
        bottom: 40%;
        @include border-width(0, 30px, 200px, 50px);
        @include border-width(0, 14vh, 31vh, 11vh);
        transform: rotate(3deg);
        }

    .triangle.fourteen {
        right: 17%;
        bottom: 70%;
        @include border-width(0, 40px, 180px, 50px);
        @include border-width(0, 3vh, 25vh, 6vh);
        transform: rotate(33deg);
        }

    .triangle.fifteen {
       right: 4%;
       bottom: 55%;
       @include border-width(0, 40px, 180px, 50px);
       @include border-width(0, 8vh, 22vh, 8vh);
       transform: rotate(44deg);
    }

    .triangle.sixteen {
       right: -10%;
       top: -25%;
       @include border-width(0, 17vh, 38vh, 10vh);
       transform: rotate(64deg);
    }

    .triangle.seventeen {
       right: -4%;
       top: -6%;
       @include border-width(0, 10vh, 25vh, 12vh);
       transform: rotate(78deg);
    }

    .triangle.seventeen-2 {
       right: -4%;
       top: -7%;
       @include border-width(0, 4vh, 41vh, 9vh);
       transform: rotate(92deg);
    }

    .triangle.seventeen-3 {
       right: -4%;
       top: -9%;
       @include border-width(0, 9vh, 37vh, 10vh);
       transform: rotate(81deg);
    }

    .triangle.eighteen {
       right: -7%;
       top: 0;
       @include border-width(0, 8vh, 33vh, 8vh);
       transform: rotate(100deg);
    }

    .triangle.nineteen {
       right: -10%;
       top: 50%;
       @include border-width(0, 9vh, 20vh, 5vh);
       transform: rotate(122deg);
    }

    .triangle.twenty {
       right: 4%;
       top: 60%;
       @include border-width(0, 5vh, 20vh, 5vh);
       transform: rotate(131deg);
    }

    .triangle.twentyone {
       right: 16%;
       top: 50%;
       @include border-width(0, 6vh, 20vh, 6vh);
       transform: rotate(143deg);
    }

    .triangle.twentytwo {
       right: 15%;
       top: 80%;
       @include border-width(0, 10vh, 22vh, 4vh);
       transform: rotate(158deg);
    }

    .triangle.twentythree {
       right: 28%;
       top: 58%;
       @include border-width(0, 6vh, 23vh, 6vh);
       transform: rotate(-203deg);
    }

    .triangle.twentyfour {
       right: 35%;
       top: 78%;
       @include border-width(0, 7vh, 21vh, 7vh);
       transform: rotate(-180deg);
    }
    //end copy

    }
}//END .white-bubble, .black-bubble

.black-bubble {
  background: $blackcolor;
  transform: scale(1.05) scaleX(1.09) translateY(0.7em);
  z-index: 1;

  .triangle {
    @extend %triangle-basics;
    border-color: transparent transparent $blackcolor transparent;
  }
}
