.text {
  position: relative;
  z-index: 20;
  line-height: 1;
  height: inherit;

  .textLine {
    position: absolute;
    display: block;
    width: 320px;
    bottom: 10%;
    color: $redcolor;
    font-family: sans-serif;
    font-weight: bold;
    left: 50%;
    line-height: 1.34;
    font-size: 3em;
    margin-left: -160px;

      @include breakpoint(480px){
        width: 180px;
        margin-left: -90px;
        font-size: 100%;
        }
    }
  
    p {
      position: absolute;
      display: block; 
      left: 45%;
      top: 10%;
      font-family: 'Bangers', cursive;
      font-size: 3em;
      font-size: 19vw;
      letter-spacing: -5px;

      @include breakpoint(480px) {
        font-size: 6em;
        
      }

      span {
        position: absolute;
        height: 400px;
        transform-origin: bottom center;
        text-shadow: 0 0 1px $blackcolor;
        width: 40px;
        left: 0;
        top: 0;

        @include breakpoint(480px) {
          height: 580px;
        }
      }

      @include rotated-text($num-letters: 10, $angle-span: 40deg, $angle-offset: -20deg);

      }

    .boom-shadow {
      color: $blackcolor;
      transform: scale(1.04) scaleX(1.02) translateY(0.05em);

      .char2::after, .char5::after, .char6::after, .char7::after {
        position: absolute;
        display: block;
        content: '';
        width: 20px;
        height: 30px;
        border-radius: 50%;
        background: #00bcf3;
        z-index: -1;
      }

      .char2::after {
        left: 53%;
        top: 5%;
      }

      .char5::after {
        left: 53%;
        top: 2%;
      }

      .char6::after {
        left: 53%;
        top: 2%;
      }

      .char7::after {
        left: 15%;
        top: 4%;
        width: 40px;
        height: 40px;
      }
}

    .boom {
      color: #ffc412;

      .char9 {
        color: $redcolor;
      }
    }


}
